<!DOCTYPE html>
<html lang="nl">
<head>
    <% this.title = 'Wachtwoord wijzigen' %>
    <% include fragments/head.ejs %>
</head>

<body>
<header>
    <% include fragments/nav.ejs %>
</header>

<% include fragments/aside-secondary.ejs %>

<main class="container mb-x">
    <form method="post" id="form-change-password" action="/ChangePassword" class="custom-submit" autocomplete="off">
        <fieldset>
            <legend><i class="fas fa-key"></i> Wachtwoord wijzigen</legend>

            <div class="form-row">
                <div class="col-sm-3 flex-label">
                    <label for="new-password" class="badge badge-primary">Nieuw wachtwoord:</label>
                </div>
                <div class="col-sm-9">
                    <input type="password" id="new-password" name="newPassword" class="form-control" required="required"
                           placeholder="Nieuw wachtwoord">
                    <div hidden class="invalid-feedback" id="invalid-new-password">Wachtwoorden komen niet overeen</div>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-3 flex-label">
                    <label for="new-password-confirm" class="badge badge-primary">Herhaal wachtwoord:</label>
                </div>
                <div class="col-sm-9">
                    <input type="password" id="new-password-confirm" class="form-control" required="required"
                           placeholder="Nieuw wachtwoord herhalen">
                </div>
            </div>
            <br>
            <hr>
            <div class="form-row">
                <div class="col-sm-3 flex-label">
                    <label for="old-password" class="badge badge-primary">Bevestig oud wachtwoord:</label>
                </div>
                <div class="col-sm-9">
                    <input type="password" id="old-password" name="oldPassword"
                           class="form-control <% if (locals.message) { %> is-invalid<% } %>" required="required"
                           placeholder="Huidig wachtwoord">
                    <% if (locals.message) { %>
                        <div class="invalid-feedback">
                            <%= message %>
                        </div>
                    <% } %>
                </div>
            </div>
            <br>
        </fieldset>
        <hr>
        <div class="toolbar">
            <a href="/profile" role="button" class="btn btn-sm btn-secondary">
                <i class="fa fa-fw fa-chevron-left"></i> Terugkeren
            </a>
            <button type="submit" class="btn btn-info">
                <i class="fas fa-fw fa-key"></i> Wachtwoord wijzigen
            </button>
        </div>
    </form>
</main>

<% include fragments/footer-with-tag.ejs %>

<% include fragments/tail.ejs %>

</body>
</html>