<article hidden id="event-template" class="event">
    <div class="event-date"></div>
    <div class="detail expandable-parent">
        <h2>
            <a href="https://www.facebook.com/events/" class="title" target="_blank">
                <i class="fab fa-facebook"></i>
                <span class="name">Evenement</span>
            </a>
        </h2>
        <div class="detail-text expandable"></div>
        <a hidden href="#" class="show-more-button" role="button">
            <i class="fa fa-chevron-down"></i> Meer...</a>
        <a hidden href="#" class="show-less-button" role="button">
            <i class="fa fa-chevron-up"></i> Minder...</a>
    </div>
</article>