<a hidden id="delete-button-template" href="#" role="button" class="btn btn-sm btn-danger delete-button"
   data-toggle="modal"
   title="Verwijderen" data-target="#modal-delete-product">
    <i class="fa fa-fw fa-trash"></i></a>