<div class="modal fade" id="modal-user-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-gift"></i> Info
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-up"></i>
                </button>
            </div>
            <div class="modal-body">
                <p class="no-user-info">Geen info beschikbaar.</p>
                <p class="user-info">
                    <span class="username">Het lid</span> heeft <strong class="text-mono credits text-secondary">0</strong> credits.
                </p>
            </div>
        </div>
    </div>
</div>