<div class="modal fade" id="modal-cart-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">
                    <i class="fa fa-info-circle"></i> Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-up"></i>
                </button>
            </div>
            <div class="modal-body">
                <article class="table-cart-wrapper">

                </article>
                <article class="table-credits-wrapper">

                </article>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fa fa-fw fa-check-circle"></i> Ok
                </button>
            </div>
        </div>
    </div>
</div>