<section class="container current-events">
    <h1><i class="fa fa-calendar-alt"></i> Geplande evenementen</h1>
    <div class="events">
        <div class="before-fetch">
            <i class="fa fa-spinner fa-spin"></i> Even geduld a.u.b.
        </div>
        <div hidden class="no-events">
            &ndash; Geen evenementen gevonden
        </div>
    </div>
</section>

<section class="container archived-events mt-3">
    <h1 class="text-secondary"><i class="far fa-calendar-alt"></i> Afgelopen evenementen</h1>
    <div class="events">
        <div class="before-fetch">
            <i class="fa fa-spinner fa-spin"></i> Even geduld a.u.b.
        </div>
        <div hidden class="no-events">
            &ndash; Geen evenementen gevonden
        </div>
    </div>
</section>