<div class="flip-wrapper mr-auto ml-auto">
    <div class="flip-core">
        <div class="flip-front">
            <div class="flip-front-logo"></div>
        </div>
        <div class="flip-back">
            <figure class="flip-back-logo">
                <img alt="Logo photo" src="/assets/media/logo/logo_img.gif">
            </figure>
        </div>
    </div>
</div>