<meta charset="UTF-8">
<meta name="author" content="PP4 Pro Team"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="shortcut icon" href="/favicon.ico"/>

<link rel="manifest" href="/manifest.json">

<link rel='stylesheet' href='/assets/css/reset.css'/>

<link rel="stylesheet" href="/assets/3pty/bootstrap/4.1.3/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/3pty/fontawesome/v5.5.0/css/all.min.css">

<link rel='stylesheet' href='/assets/css/screen.css'/>

<title>Peecee'tje
    <% if (this.title) { %> - <%= this.title %>
    <% } %>
</title>
