<nav class="nav-theme">
    <ul class="theme-list">
        <li class="theme-list-item">
            <a href="#" class="theme-button theme-blue" role="button" data-theme="blue">&nbsp;</a>
        </li>
        <li class="theme-list-item">
            <a href="#" class="theme-button theme-yellow" role="button" data-theme="yellow">&nbsp;</a>
        </li>
        <li class="theme-list-item active">
            <a href="#" class="theme-button theme-white" role="button" data-theme="white">&nbsp;</a>
        </li>
    </ul>
</nav>