<nav class="nav-links float-right">
    <ul class="links-list">
        <li class="links-list-item">
            <a href="https://www.facebook.com/jcPeeCeetje/" target="_blank">
                <i class="fab fa-2x fa-facebook"></i>
            </a>
        </li>
    </ul>
</nav>