<article><h1>Privacyverklaring</h1>

<p>
PEECEE'tje, gevestigd aan Beekstraat 65 8500 Kortrijk, is verantwoordelijk
voor de verwerking van persoonsgegevens zoals weergegeven in deze
privacyverklaring.
</p>
<p>
Contactgegevens:
</p>
<p>
PEECEE’tje
<br/>
Beekstraat 65
<br/>
8500 Kortrijk
</p>
<p>
0496 13 44 96
</p>
<p>
<a href="https://peeceetje.be">https://www.peeceetje.be</a>
</p></article>
    <article><h2>
    Persoonsgegevens die wij verwerken
    </h2>
    <p>
    PEECEE'tje verwerkt je persoonsgegevens doordat je gebruik maakt van onze
    diensten en/of omdat je deze gegevens zelf aan ons verstrekt. Hieronder
    vind je een overzicht van de persoonsgegevens die wij verwerken:
    </p>
    <p>
    - Voor- en achternaam
    </p>
    <p>
    - Geboortedatum
    </p>
    <p>
    - Gegevens over jouw activiteiten op onze website
    </p></article>
    <article><h2>
    Bijzondere en/of gevoelige persoonsgegevens die wij verwerken
    </h2>
    <p>
    PEECEE'tje verwerkt de volgende bijzondere en/of gevoelige persoonsgegevens
    van jou:
    </p>
    <p>
    - gegevens van personen jonger dan 16 jaar Onze website en/of dienst heeft
    niet de intentie gegevens te verzamelen over websitebezoekers die jonger
    zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of voogd. We
    kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden
    ouders dan ook aan betrokken te zijn bij de online activiteiten van hun
    kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden
    zonder ouderlijke toestemming. Als je er van overtuigd bent dat wij zonder
    die toestemming persoonlijke gegevens hebben verzameld over een
    minderjarige, neem dan contact met ons op via peeceetjeForms@gmail.com, dan
    verwijderen wij deze informatie.
    </p></article>
    <article><h2>
    Met welk doel en op basis van welke grondslag wij persoonsgegevens
    verwerken
    </h2>
    <p>
    PEECEE'tje verwerkt jouw persoonsgegevens voor de volgende doelen:
    </p>
    <p>
    - Het afhandelen van jouw betaling
    </p>
    <p>
    - Je te informeren over wijzigingen van onze diensten en producten
    </p>
    <p>
    - Je de mogelijkheid te bieden een account aan te maken
    </p>
    <p>
    Op het moment van registratie vragen we dan ook je toestemming voor het
    verwerken van je gegevens.
    </p></article>
    <article><h2>
    Geautomatiseerde besluitvorming
    </h2>
    <p>
    PEECEE'tje neemt niet op basis van geautomatiseerde verwerkingen besluiten
    over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het
    gaat hier om besluiten die worden genomen door computerprogramma's of
    -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van
    PEECEE'tje) tussen zit.
    </p></article>
    <article><h2>
    Hoe lang we persoonsgegevens bewaren
    </h2>
    <p>
    PEECEE'tje bewaart je persoonsgegevens niet langer dan strikt nodig is om
    de doelen te realiseren waarvoor je gegevens worden verzameld. Meer bepaald
    worden gegevens van leden die langer dan 2 jaar niet actief zijn(= geen
    aankopen gedaan hebben) gewist.
    </p></article>
    <article><h2>
    Delen van persoonsgegevens met derden
    </h2>
    <p>
    PEECEE'tje verstrekt uitsluitend aan derden en alleen als dit nodig is voor
    de uitvoering van onze overeenkomst met jou of om te voldoen aan een
    wettelijke verplichting.
    </p></article>
    <article><h2>
    Cookies, of vergelijkbare technieken, die wij gebruiken
    </h2>
    <p>
    PEECEE'tje gebruikt alleen technische en functionele cookies. En
    analytische cookies die geen inbreuk maken op je privacy. Een cookie is een
    klein tekstbestand dat bij het eerste bezoek aan deze website wordt
    opgeslagen op jouw computer, tablet of smartphone. De cookies die wij
    gebruiken zijn noodzakelijk voor de technische werking van de website en
    jouw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en
    onthouden bijvoorbeeld jouw voorkeursinstellingen. Ook kunnen wij hiermee
    onze website optimaliseren. Je kunt je afmelden voor cookies door je
    internetbrowser zo in te stellen dat deze geen cookies meer opslaat.
    Daarnaast kun je ook alle informatie die eerder is opgeslagen via de
    instellingen van je browser verwijderen.
    </p></article>
    <article><h2>
    Gegevens inzien, aanpassen of verwijderen
    </h2>
    <p>
    Je hebt het recht om je persoonsgegevens in te zien, te corrigeren of te
    verwijderen. Dit kun je zelf doen via de persoonlijke instellingen van jouw
    account. Daarnaast heb je het recht om je eventuele toestemming voor de
    gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking
    van jouw persoonsgegevens door ons bedrijf en heb je het recht op
    gegevensoverdraagbaarheid. Dat betekent dat je bij ons een verzoek kan
    indienen om de persoonsgegevens die wij van jou beschikken in een
    computerbestand naar jou of een ander, door jou genoemde organisatie, te
    sturen. Wil je gebruik maken van je recht op bezwaar en/of recht op
    gegevensoverdraagbaarheid of heb je andere vragen/opmerkingen over de
    gegevensverwerking, stuur dan een gespecificeerd verzoek naar
    peeceetjeForms@gmail.com. Om er zeker van te zijn dat het verzoek tot
    inzage door jou is gedaan, vragen wij jou een kopie van je
    identiteitsbewijs bij het verzoek mee te sturen. Maak in deze kopie je
    pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het
    paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter
    bescherming van je privacy. PEECEE'tje zal zo snel mogelijk, maar in ieder
    geval binnen vier weken, op jouw verzoek reageren. PEECEE'tje wil je er
    tevens op wijzen dat je de mogelijkheid hebt om een klacht in te dienen bij
    de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de
    volgende link:
    https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons
    </p></article>
    <article><h2>
    Hoe wij persoonsgegevens beveiligen
    </h2>
    <p>
    PEECEE'tje neemt de bescherming van jouw gegevens serieus en neemt passende
    maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste
    openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als jij het idee
    hebt dat jouw gegevens toch niet goed beveiligd zijn of er aanwijzingen
    zijn van misbruik, neem dan contact op met onze klantenservice of via
    peeceetjeForms@gmail.com
    </p></article>